@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.cart-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1rem 0;
    background-color: #f5f5f5;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
}

.details {
    flex: 1;
}

.details h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    color: #333;
    font-weight: bold;
}

.details p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.product-price-quantity {
    display: flex;
    align-items: center;
}

.product-price-quantity p {
    font-weight: bold;
    margin-right: 1rem;
}

.emtyCartContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
}

.emtyCartContainer img,
p {
    margin: auto;
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}



.delivery-info {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.delivery-info p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/* Proceed to Checkout button styling */
.proceed-to-checkout {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
}

.proceed-to-checkout:hover {
    background-color: #27ae60;
}

p[_ngcontent-ng-c3917139828] {
    width: 100%;
}

.btnStartShopping {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: 400;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}