<div class="container">
    <div class="product">
        <div *ngIf="product" class="product-details">
            <h2>{{ product.name }}</h2>
            <img [src]="product.imageUrl" alt="{{ product.product_name }}">
            <p>{{ product.product_description }}</p>
            <p class="price">$ {{ product.price }}</p>
            <span class="text-gray-900 font-semibold">Quantity:</span>
            <input type="number" [(ngModel)]="quantity" value="1" min="1">
        
            <div class="buttons">
                <button (click)="addToCart(quantity)">Add to Cart</button>
                <button (click)="addToWishlist()">Add to Wishlist</button>
            </div>
            <button (click)="goBack()" class="btnBack">Back</button>
        </div>
        <div *ngIf="!product" class="loading">
            <p>Loading...</p>
        </div>
    </div>
</div>

