<div class="maincontainer">
  <div class="container">
    
    <div class="serch-filter">
      <div class="category-filter">
        <!-- <label for="category">Filter by Category:</label> -->
        <select id="category" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
      <div class="search-container">
        <input type="text" placeholder="Search products..." [(ngModel)]="searchQuery" class="search-bar">
        <button (click)="searchProducts()" class="search-button">Search</button>
      </div>
      
    </div>

    <div class="products">
      <!-- <h2>Products</h2> -->
      <div class="product-list">
        <div *ngFor="let product of filteredProducts" class="product">
          <img [src]="'../assets/' + product.attributes.product_name + '.avif'" class="product-image">
          <div class="product-details">
            <h3>{{ product.attributes.product_name }}</h3>
            <p>{{ product.attributes.category.data.attributes.category_name }}</p>
            <div class="price-button">
              <p class="price">$ {{ product.attributes.price }}</p>
              <button (click)="viewProduct(product.id)" id='btnviewProduct'>View Product</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
