/* .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.maincontainer {
    margin: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    background-image: url('src/assets/image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: initial;
    display: flex;
    align-items: center;
}

.container {
    width: 28%;
    position: absolute;
    right: 25vh;
    /* top: 25vh; */
    color: #0a5f72;
    padding: 30px 40px;
    background: #ffffff8d;
    border-radius: 7px;
    box-shadow: 0px 0px 7px #848383;
    /* height: 50vh; */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

span {
    color: red;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #17819a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #136b7e;
}

p a {
    color: #0e505f;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

p a:hover {
    color: red
}