<!-- <div class="profile-container">
    <h2>User Profile</h2>
    <div class="profile-info">
      <div class="info-item">
        <label>Name:</label>
        <span>{{ user.name }}</span>
      </div>
      <div class="info-item">
        <label>Email:</label>
        <span *ngIf="!editMode">{{ user.email }}</span>
        <input *ngIf="editMode" type="email" [(ngModel)]="user.email" placeholder="Enter email">
      </div>
      <div class="info-item">
        <label>Address:</label>
        <span *ngIf="!editMode">{{ user.address }}</span>
        <input *ngIf="editMode" type="text" [(ngModel)]="user.address" placeholder="Enter address">
      </div>
      <div class="info-item">
        <label>Phone:</label>
        <span *ngIf="!editMode">{{ user.phone }}</span>
        <input *ngIf="editMode" type="tel" [(ngModel)]="user.phone" placeholder="Enter phone">
      </div>
      <div *ngIf="editMode" class="info-item">
        <button class="save-btn" (click)="saveChanges()">Save Changes</button>
      </div>
    </div>
    <div class="edit-profile-btn">
      <button class="edit-btn" (click)="toggleEditMode()">{{ editMode ? 'Cancel' : 'Edit Profile' }}</button>
    </div>
  </div>
   -->


   <div class="profile-container">

    <h2>User Profile</h2>
  
    <div class="profile-info">
      <div class="info-item">
        <label>Name:</label>
        <span>{{ user.username }}</span>
      </div>
      <div class="info-item">
        <label>Email:</label>
        <span>{{ user.email }}</span>
        <input *ngIf="editMode" type="email" [(ngModel)]="user.email">
      </div>
      <div class="info-item">
        <label>Mobile Number:</label>
        <span *ngIf="user.mobile_number">{{ user.mobile_number }}</span>
        <span *ngIf="!user.mobile_number">Not Provided</span>
        <input *ngIf="editMode" type="number" [(ngModel)]="user.mobile_number">
      </div>
      <!-- <div *ngIf="user.user_addresses.length > 0">
        <h3>Addresses</h3>
        <ul class="address-list">
          <li *ngFor="let address of user.user_addresses">
            <span>{{ address.street }}</span> ({{ address.city }})
            <input *ngIf="editMode" type="text" [(ngModel)]="user.address.street" placeholder="Enter address"> 
          </li>
        </ul>
      </div> -->
      <div *ngIf="editMode" class="info-item">
        <button class="save-btn" (click)="saveChanges()">Save Changes</button>
      </div>
    </div>
  
    <div class="edit-profile-btn">
      <button class="edit-btn" (click)="toggleEditMode()">{{ editMode ? 'Cancel' : 'Edit Profile' }}</button>
    </div>
  
  </div>
  